<nav class="flex gap-5 px-4">
    <div class="grow">
        <a routerLink="/">
            <img src="/assets/logo.svg" class="h-[24px]" alt="Acme Systems" />
            <span class="sr-only">Acme Systems</span>
        </a>
    </div>
    <div>
        <a routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Orders</a>
    </div>

    <div>
        <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    </div>

    <div>
        <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
    </div>

    <div>
        @if(user()) {
            {{ user()?.name }}
            <button (click)="signOut()">Logout</button>
        } @else {
            <button (click)="signIn()">Login</button>
        }
    </div>
</nav>
