@use 'design/base';
@use 'design/button';
@use 'design/dl';
@use 'design/dropdown-menu';
@use 'design/form';
@use 'design/pagination';
@use 'design/table';
@use 'design/tabs';
@use 'design/progress-bar';
@use 'design/alert';
@use 'design/date-picker';
@use 'design/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO:
.text-block {
    max-width: 100ch;
}

a {
    @apply text-gray-700;
}

h1 {
    @apply mt-0.5;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
