@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO:
.text-block {
    max-width: 100ch;
}

a {
    @apply text-gray-700;
}

h1 {
    @apply mt-0.5;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
